<plugin name='freemarker' version='0.2-SNAPSHOT' grailsVersion='1.1 &gt; *'>
  <author>Jeff Brown</author>
  <authorEmail>jeff.brown@springsource.com</authorEmail>
  <title>FreeMarker Grails Plugin</title>
  <description>The Grails FreeMarker plugin provides support for rendering FreeMarker templates
as views.
</description>
  <documentation>http://grails.org/Freemarker+Plugin</documentation>
  <resources>
    <resource>UrlMappings</resource>
    <resource>DemoController</resource>
    <resource>org.springframework.grails.freemarker.FreeMarkerTagLib</resource>
  </resources>
  <dependencies />
</plugin>