<plugin name='freemarker' version='0.1.1' grailsVersion='1.1 &gt; *'>
  <author>Jeff Brown</author>
  <authorEmail>jeff.brown@springsource.com</authorEmail>
  <title>FreeMarker Grails Plugin</title>
  <description>The Grails FreeMarker plugin provides support for rendering FreeMarker templates
as views.
</description>
  <documentation>http://grails.org/Freemarker+Plugin</documentation>
  <resources />
  <dependencies />
</plugin>